.client-table{
  width: 74%;
  margin-left: 14%;
  margin-top: 3%;
}
#client-form {
  margin: 5% 0 0 27%
}

.client-header{
  margin-left: 45%;
  padding-top: 3%;
  color: #cc0000;
}
.submit-notes-button{
  margin-left: 55%;
  background-color: #cc0000;
  border-color: none;
}
#successModal.modal-content{
background-color: #dff0d8!important;
border-color: #d0e9c6!important;
color: #3c763d!important;
}
#failureModal.modal-content{
background-color: #f2dede!important;
border-color: #ebcccc!important;
color: #a94442!important;
}
