/* .bg-light{
  background: #d30313!important;
}
.nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.attribution{
  font-size: 10px;
  text-align: right;
  margin-top: 35px;
}

.active-link{
  color: black;
}
 */
 .navbar-custom {
     background-color: black;
 }
 .nav-link {
   color: white;
 }

nav a:hover {
  color: #b30000;
}

.navbar-brand {
  padding-left: 10px;
  color:  #cc0000;
}
.a{
  color:#cc0000;
}
