.kpi-header{
  margin: 2% 0 0 41%;
  font-family: sans-serif;
  color: #cc0000;
  font-size: 30px;
}
.text {
  margin-left: 2%;
}
.turbine-form {
  margin: 0 0 0 44%;
}

#submitNewNote {
  display: block;
    margin: 0 auto;
    width: 295px;
    margin-left: 261px;
    border-color: black;
}

#submitNewNote:hover {
  background-color: #b30000;
}
