<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/kpi.css">
      <link rel="stylesheet" href="../css/client_info.css">
    <link rel="stylesheet" href="../css/common.css">


    <title>Client Details</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-custom">
      <a href="index.html" class="pull-left"><img src="../img/cummins_logo.png" height=30px></a>
      <a href="index.html" class="navbar-brand">Cummins</a>
      <div class="navbar-collapse collapse" id="navbarCustom">
           <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="monitor_health.html">Client</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="kpi.html">KPIs</a>
              </li>
          </ul>
      </div>
</nav>
<h4 class="kpi-header">ENGINE HEALTH</h4>
<div id="agsKPI">
<div class="row">
  <div id="unnitiatedShutdownRateChart" class="col-md-6"></div>
  <div id="fuelConsumptionChart" class="col-md-6"></div>
</div>
<div class="row">
  <div id="thermalEfficiencyChart" class="col-md-6"></div>
  <div id="firedHoursChart" class="col-md-6"></div>
</div>
<h4 class="client-header">Add Notes</h4>
<form id="client-form" @submit.prevent="handleNoteForm" id="newNoteForm">
  <div class="form-group row">
    <label for="staticName" class="col-md-3 col-form-label">Staff Name</label>
    <div class="col-md-4">
      <input type="text" class="form-control" v-model="noteForm.name" id="staticName">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-md-3 col-form-label">Date</label>
      <div class="col-md-4">
        <input class="form-control" type="date" v-model="noteForm.date" id="example-date">
      </div>
  </div>
  <div class="form-group row">
    <label for="places" class="col-md-3 col-form-label">Enter your observations</label>
    <div class="col-md-4">
      <textarea class="form-control" v-model="noteForm.note" rows="5" id="note"></textarea>
    </div>
    </div>
  <button type="submit" id="submitNewNote" class="btn btn-primary submit-notes-button">Submit</button>
</form>


  <!-- jQuery, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="js/kpi.app.js"></script>

  </body>
</html>
